<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Configure Tealium Collect Extension">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tealium Data Layer Enrichment Configuration</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      input:invalid {
        border: 1px solid red;
      }
    </style>
  </head>
  <body>
    <br>
    <div class="container">
      <div class="form-group">
        <label>
          Tealium Account
          <input id="account" class="form-control" minlength="0" maxlength="500" required>
          <small class="text-muted">
            (Required) Your Tealium account name.
          </small>
        </label>
      </div>
  
      <div class="form-group">
        <label>
          Tealium Profile
          <input id="profile" class="form-control" value="main" minlength="0" maxlength="500" required>
          <small class="text-muted">
            (Required) Your Tealium profile name. Enter "main" if you are unsure.
          </small>
        </label>
      </div>

      <div class="form-group">
        <label>
          Endpoint
          <input id="endpoint" class="form-control" minlength="0" maxlength="500" pattern="^https:\/\/.*">
          <small class="text-muted">
            (Optional) Override the default Tealium endpoint with your own custom first-party endpoint, such as: https://visitor-service.collect.example.co.uk
          </small>
        </label>
      </div>

    </div>


    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script>
      var accountInput = document.querySelector('#account'),
        profileInput = document.querySelector('#profile'),
        endpointInput = document.querySelector('#endpoint');

      window.extensionBridge.register({
        init: function(info) {
          console.log("info.settings");
          console.log(JSON.stringify(info.settings));
          if (info.settings) {
            accountInput.value = info.settings.account;
            profileInput.value = info.settings.profile;
            endpointInput.value = info.settings.endpoint;
          }
        },

        getSettings: function() {
          return {
            account: accountInput.value,
            profile: profileInput.value,
            endpoint: endpointInput.value
          }
        },

        validate: function() {
          return accountInput.checkValidity() &&
            profileInput.checkValidity() &&
            endpointInput.checkValidity();
        }
      });
    </script>
  </body>
</html>
